
body
  background-color: white 
  font-family: Helvetica Neue, sans-serif

.container
  margin-top: 10%
  margin-left: 10%

.masthead
  margin-bottom: 15%

#main
  margin-right: 10%
  color: #666666

  p
    font-color: #666666


